@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');  /* Copied this line from "modal" exercise */

body {
  font-family: Roboto;
}

.header {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}
